

<app-slider>


    <div *ngFor="let user of users" class="fl" appSliderItem>
        <app-user-card class="user__card_explore" [user]="user" [slider]="true"></app-user-card>
    </div>


</app-slider>
<div
class="search-results"
infiniteScroll
[infiniteScrollDistance]="25"
[infiniteScrollThrottle]="15"
(scrolled)="onScroll()"
>
<app-post [posts]="posts" [exploer]="true"></app-post>
</div>
<div *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="showMessage">
  <h3>If you want to see more posts you need to add you interests in Settings</h3>
</div>







