[appSliderItem] {
    flex-shrink: 0;
  }
  .fl{
    display: flex;
  }
  .card__flex{
    display: inline-block;
    margin: 10px 0 0 2%;
    flex-grow: 1;
    width: calc(100% * (1/4) - 10px - 1px);
  }
.user__card_explore{
  padding: 1em;
}