<input type="file" (change)="fileChangeEvent($event)" />
<div class="cropper-container">
<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    [resizeToWidth]="390"
    [alignImage]=""
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>
</div>

<button type="button" (click)="cropIt()">save cropped image in Base64 </button>