@font-face{
    font-family: OpenSansRegular;
    src: url('../../../assets/fonts/OpenSans-Regular.ttf');
}

.user__avatar{
    width: 250px;
    height: 100%;
    user-select: none;
    pointer-events: none;
    border-radius: 8px;
}
.spiner{
    z-index: 9999;
}
.user__profile_loader{
    font-family: OpenSansRegular;

}

/*
.user__followers{
    word-break: break-all;
    align-items: center;
    text-align: center;
    grid-gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}
.followers__card{
    padding: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.42), 0 1px 2px rgba(0, 0, 0, 0.42);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 6px;
    width: 20em;
    justify-self: center;
}
.followers__card > h4{
    color: #423c42;
}

*/
.user__profile{
    display: grid;
    grid-template-columns: 17em 2fr 1fr;
    align-items: center;
}
.user__data{
    display: grid;
    height: 100%;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.user__follow{
    justify-self: center;
}

.user__name{
    font-size: 2em;
    color: #3e3232;
    text-shadow: 1px 1px 2px black;
}
.full__info{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
    align-items: center;
}
.user__gallery{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.gallery__image_card{
    height: 75px;
    width: 75px;
}
.gallery__image_card img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}
.avatar{
    justify-self: center;
}
.mat-dialog-container {
    padding: 0 !important;

}

mat-dialog-content{
    width: 400px;
    height: auto;
    max-height: fit-content;
    margin: 0 0;
    padding: 0 0;
    overflow: auto;
}
.image__viewer{
    max-width: 100%;
    height: auto;
}
.mat-dialog-container {
    padding: 0px !important;
}





/*Gallery */

