<div class="user__profile_loader">
<section>
   
        <div class="user__profile" *ngIf="currentUser != null">
            <div class="avatar">
                <div style="position: relative;">
                    <img class="user__avatar" [src]="currentUser?.avatar != null ? currentUser.avatar :'../../../assets/images/img_avatar.png'">
                    <button style="position: absolute; left: 0;" *ngIf="thisUser.id === currentUser.id" (click)="dialog.setAvatar(currentUser.id)">Change avatar</button>    
                </div>
                <div class="user__gallery">
                    <div class="gallery__image_card" *ngFor="let img of currentUser.images">
                        <img (click)="avatarViewer(img.imagePath, imageViewer)" [src]="img.imagePath" alt="">
                    </div>
                </div>
            </div>
            <div class="user__data">
                <div class="full__info">
                    <h1 class="user__name">{{currentUser?.firstName | titlecase}} {{currentUser?.lastName | titlecase}}</h1>
                    <h3>Birth day: {{currentUser?.birthDay | date}} </h3>
                    <h3>Sex:{{currentUser?.gender | titlecase}}</h3>
                    <h3>Country: {{currentUser?.country | titlecase}} | City: {{currentUser?.city | titlecase}}</h3>    
                </div>
                <div class="user__expirience full__info">
                    <h1 
                        [matTooltip]="currentUser.accountLvl != 10 ? ' At level 10 you can create your own tags ' : ''"    
                        aria-label="Button that displays a tooltip when focused or hovered over">Account level: {{currentUser.accountLvl}}</h1>
                    <h3>Current Experience: {{currentUser.currentExperience}}</h3>
                    <h3>Experience to next level: {{currentUser.experienceToNextLevel}}</h3>
                </div>
            </div>
           
            <div class="user__follow">
                <app-follow-button [thisUser]="thisUser" [currentUser]="currentUser"></app-follow-button>
            </div>

            <app-user-stats [user]="currentUser"></app-user-stats>

    </div>
</section>





<section *ngIf="postsForChar != null">
    <ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'  [tooltip]='tooltip' [legendSettings]='legendSettings' [title]='title' [zoomSettings]='zoom'>
        <e-series-collection>
            <e-series [dataSource]='postsForChar' type='Line' xName='createdDate' yName='numberOfCreatedPost' name='Posts per day' [marker]='marker' tooltipFormat='{{postsForChar.numberOfCreatedPost}}'></e-series>
        </e-series-collection>
    </ejs-chart>
 
</section>

<section id="posts" style="padding: 1em;">
    <div>
        <nav>
            <ul>
                <li><a routerLink="/profile/user/{{currentUser?.id}}"routerLinkActive [routerLinkActiveOptions]="{exact:true}" #rtl="routerLinkActive">Posts</a></li>
                <li><a routerLink="/profile/user/{{currentUser?.id}}/gallery" (click)="setPhotoToGallery()">Gallery</a></li>
            </ul>
        </nav>
    </div>
    <router-outlet></router-outlet>
</section>


<div *ngFor="let user of users">
    <a routerLink="/profile/user/{{user.id}}">{{user.username}}</a>
</div>
</div>

<ng-template #imageViewer>
    <mat-dialog-content>
        <img class="image__viewer" src="{{imageViewerPath}}" alt="">
    </mat-dialog-content>
  </ng-template>