@font-face{
    font-family: OpenSansRegular;
    src: url('../../../assets/fonts/OpenSans-Regular.ttf');
}

.user__avatar{
    width: 250px;
    height: 100%;
    user-select: none;
    pointer-events: none;
    border-radius: 8px;
}
.spiner{
    z-index: 9999;
}
.user__profile_loader{
    font-family: OpenSansRegular;

}


.user__profile{
    display: grid;
    grid-template-columns: 17em 2fr 1fr;
    align-items: center;
}
.user__data{
    display: grid;
    height: 100%;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.user__follow{
    justify-self: center;
}

.user__name{
    font-size: 2em;
    color: #3e3232;
    text-shadow: 1px 1px 2px black;
}
.full__info{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
    align-items: center;
}

.avatar{
    justify-self: center;
}
.mat-dialog-container {
    padding: 0 !important;

}

mat-dialog-content{
    width: 400px;
    height: auto;
    max-height: fit-content;
    margin: 0 0;
    padding: 0 0;
    overflow: auto;
}
.image__viewer{
    max-width: 100%;
    height: auto;
}
.mat-dialog-container {
    padding: 0px !important;
}



.all__photos_gallery{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.42), 0 1px 2px rgba(0, 0, 0, 0.42);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 6px;
    padding: 1em;
    display: block;
    margin-top: 1em;
    width: 75px;
    margin: 0 auto;
}

/*Добавити цей клас в html замінивши img*/

.navbar__posts_gallery{
    display: flex;
}
.posts__gallery{
    display: flex;
    width: 100%;
    justify-content: center;
    border-top: 1px solid silver;
    margin-bottom: 1em;
}
.posts__gallery li{
    margin-left: 1em;
}
.posts__gallery a{
    margin-left: .3em;
}
.posts__gallery_active{
    border-top: 1px solid;
    margin-top: -1px;
}
#posts{
    padding: 1em;
    position: relative;
}
.spiner{
    position: absolute;
}
