<section class="post__details_section">
    <div class="post__main_image">
        
       <img  [src]="post?.image != null ? post.image :''" alt="">
       <div class="main__image_text">
         <h1>{{post?.name}}</h1>
       </div>
   </div>

    <div class="container">
        <div class="tools">
            <div class="user__data">
                <div class="avatar__container">
                    <img [src]="post?.user.avatar != null ? post?.user.avatar :'../../assets/images/img_avatar.png'" alt="">
                </div>
                <div class="username__date">
                    <h4>{{post?.user.firstName | titlecase}} {{post?.user.lastName | titlecase}}</h4>
                    <h6>{{post?.createdDate}}</h6>
                </div>
            </div>
            <div class="likes__comments">
                <app-likes-comments [post]="post"></app-likes-comments>
            </div>
        </div>
        <div class="post__tags">
            <div class="post__tag" *ngFor="let tag of post?.tags">
                <a routerLink="/profile/posts-by-tag/{{tag.name}}"><h4>#{{tag?.name}}</h4></a>
            </div>
        </div>
        <div class="post__text">
            <span  [innerHTML]="post?.text |safeHtml" class="span__text"></span>
        </div>
   </div>   
</section>
<section id="comments">
   
    <div class="comments-container">
        <h1>Comments</h1> 
        <form (submit)="addComment()">
            <div>
                <textarea [(ngModel)]="commentText" name="text" id="" placeholder="Write your comment ..."></textarea>
               
            </div>
            <div>
                <button type="submit" [disabled]="commentText==null || commentText.trim().length === 0">Add comment</button>
           </div>
        </form>
		<ul *ngIf="comments?.length > 0;else commentNull" id="comments-list" class="comments-list">
			<li>
                <ng-container *ngFor="let comment of comments">
				<div class="comment-main-level">
					<div class="comment-avatar"><img [src]="comment?.user.avatar != null ? comment?.user.avatar :'../../assets/images/img_avatar.png'" [alt]="comment.user.firstName +' ' + comment.user.lastName"></div>
					<div class="comment-box">
						<div class="comment-head">
                    
							<div>
                                <h6 class="comment-name by-author"><a routerLink="/profile/user/{{comment?.user.id}}">{{comment.user.firstName | titlecase}} {{comment.user.lastName | titlecase}}</a></h6>
							    <span>{{comment.createdDate | date:'medium'}}</span>
                            </div>
                            <div class="icons__size">
                                <span class="material-icons">
                                    reply
                                    </span>
                                    <span class="material-icons">
                                        favorite
                                    </span>
                                    <span (click)="removeComment(comment.id)" *ngIf="comment.user.id == user.id" class="material-icons">
                                        delete
                                    </span>
                            </div>
						</div>
						<div class="comment-content">
                            {{comment.text}}
                        </div>
					</div>
                </div>
                
                <ng-container *ngFor="let replay of comment.replays">

                <ul class="comments-list reply-list">
					<li>
						<div class="comment-avatar"><img [src]="replay.user.avatar != null ? replay.user.avatar : '../../assets/images/img_avatar.png'" [alt]="replay.user.firstName + ' ' + replay.user.lastName"></div>
						<div class="comment-box">
							<div class="comment-head">
								<h6 class="comment-name"><a routerLink="/profile/user/{{comment.user.id}}">{{comment.user.firstName | titlecase}} {{comment.user.lastName | titlecase}}</a></h6>
								<span>{{replay.createdDate | date:'medium'}}</span>
							</div>
							<div class="comment-content">
                                {{replay.text}}
                            </div>
						</div>
					</li>
                </ul>
                </ng-container>
            </ng-container>
			</li>
        </ul>
        <button (click)="showMore()" *ngIf="totalPages > 1">Show more</button>
	</div>



</section>

<ng-template #commentNull>
    <h2>Let's create your first comment</h2>
</ng-template>
