<section class="post__details_section">
    <div class="post__main_image">
        
       <img  [src]="post?.image != null ? post.image :'../../assets/images/img_avatar.png'" alt="">
       <div class="main__image_text">
         <h1>{{post?.name}}</h1>
       </div>
   </div>

    <div class="container">
        <div class="tools">
            <div class="user__data">
                <div class="avatar__container">
                    <img [src]="post.user?.avatar != null ? post.user.avatar :'../../assets/images/img_avatar.png'" alt="">
                </div>
                <div class="username__date">
                    <h4>{{post.user.firstName | titlecase}} {{post.user.lastName | titlecase}}</h4>
                    <h6>{{post.createdDate}}</h6>
                </div>
            </div>
            <div class="likes__comments">
                <app-likes-comments [post]="post"></app-likes-comments>
            </div>
        </div>
        <div class="post__tags">
            <div class="post__tag" *ngFor="let tag of post.tags">
                <h4>#{{tag.name}}</h4>
            </div>
        </div>
        <div class="post__text">
            <span  [innerHTML]="post.text |safeHtml" class="span__text"></span>
        </div>
   </div>   
</section>
<section id="comments" class="comments__section">
    <h1>Comments</h1> 
    <div *ngFor="let comment of comments">
        <h2>{{comment?.user.username}}</h2>
        <h3>{{comment?.text}}</h3>
    </div>
</section>