
/*Remove this code*/
mat-dialog-content{
    width: 400px;
    height: auto;
    max-height: fit-content;
    margin: 0 0;
    padding: 0 0;
    overflow: auto;
}
.image__viewer{
    max-width: 100%;
    height: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 8px;

  }