<ng-container *ngIf="!exploer">
<div class="post__card" *ngFor="let post of posts">
    <div class="post__remove_btn" (click)="deletePost(post)" *ngIf="post.user.id == currentUser.id">
      <span>X</span>
    </div>
    <div class="post__image" [ngStyle]="{'background-image':post.image != null ? 'url( '+ post.image +'  )' : 'url(' + '../../../assets/images/img_avatar.png' +' )'  }">
      
      <div *ngIf="post.user.id != currentUser.id" class="post__author">
        <img [src]="post.user?.avatar != null ? post.user.avatar :'../../../assets/images/img_avatar.png'" alt="">
        <h3>{{post.user.firstName | titlecase}} {{post.user.lastName | titlecase}}</h3>
      </div>

      <div class="post__name">
        <h2> <a routerLink="/post/{{post.id}}">{{post.name}}</a></h2>
      </div>
    </div>
    <div>
      <ng-container *ngFor="let tag of post.tags">
          <span> <a class="tag__link" routerLink="/profile/posts-by-tag/{{tag.name}}">#{{tag.name}}</a></span>
      </ng-container>  
    </div>
    <div class="post__text"> {{post.smallDescription}}</div>

    <div class="post__date_likes">
      <div class="post__likes">
        <span (click)="setLike(post)" [class.liked]="post.meLiked" [class.unliked]="!post.meLiked" class="material-icons">
          favorite
          </span>
          <h1>{{post.likesCounter}}</h1>
        </div>
        <div class="post__created_date">
          <h4>{{post.createdDate | date}}</h4>
        </div>
    </div>
</div>
</ng-container>


<ng-container *ngIf="exploer">
  <div class="content-wrapper">
  
    <div class="news-card" *ngFor="let post of posts">
      <span class="news-card__card-link"></span>
      <img  [src]="post.image" alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h2 class="news-card__title">{{post.name | titlecase}}</h2>
        <div class="news-card__post-date">{{post.createdDate | date}}</div>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">{{post.smallDescription}}</p>
          
         <div class="likes__read_btn">
          <div class="post__likes">
            <span (click)="setLike(post)" [class.liked]="post.meLiked" [class.unliked]="!post.meLiked" class="material-icons">
              favorite
              </span>
              <h1>{{post.likesCounter}}</h1>
            </div>  
            <a routerLink="/post/{{post.id}}" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
         </div>
          
        </div>
      </div>
    </div>
  
  </div>
</ng-container>