

<div class="post__card" *ngFor="let post of posts">

    <div class="post__image" [ngStyle]="{'background-image':post.imagePath != null ? 'url( '+ post.imagePath +'  )' : 'url(' + '../../../assets/images/img_avatar.png' +' )'  }">
      
      <div *ngIf="post.user.id != currentUser.id" class="post__author">
        <img [src]="post.user?.avatar != null ? post.user.avatar :'../../../assets/images/img_avatar.png'" alt="">
        <h3>{{post.user.firstName | titlecase}} {{post.user.lastName | titlecase}}</h3>
      </div>

      <div class="post__name">
        <h2>{{post.name}}</h2>
      </div>
    </div>
    <div>
      <ng-container *ngFor="let tag of post.tags">
          <span> <a class="tag__link" routerLink="/posts-by-tag/{{tag.name}}">#{{tag.name}}</a></span>
      </ng-container>  
    </div>
    <div class="post__text"> {{post.smallDescription}}</div>
</div>
