
<section class="news">
    <nav class="news__navbar">
        <div class="news__navbar_width">
            <div class="news__navbar_logo">
                <h4>Logo.</h4>
            </div>
            <div class="news__navbar_search">
               
                <div class="input-icons">
                   
                    <span class="material-icons icon">
                            search
                       </span>
                    <input class="news__input_search" type="text" placeholder="Search">

          
                </div>
            </div>
            <ul class="news__navbar_icons">
                <li>
                    <svg aria-label="Find People" class="_8-yf5 " fill="#262626" height="22" viewBox="0 0 48 48" width="22"><path clip-rule="evenodd" d="M24 .5C37 .5 47.5 11 47.5 24S37 47.5 24 47.5.5 37 .5 24 11 .5 24 .5zm0 44c11.3 0 20.5-9.2 20.5-20.5S35.3 3.5 24 3.5 3.5 12.7 3.5 24 12.7 44.5 24 44.5zm-4.4-23.7c.3-.5.7-.9 1.2-1.2l14.8-8.1c.3-.1.6-.1.8.1.2.2.3.5.1.8l-8.1 14.8c-.3.5-.7.9-1.2 1.2l-14.8 8.1c-.3.1-.6.1-.8-.1-.2-.2-.3-.5-.1-.8l8.1-14.8zm6.2 5l4.3-7.8-7.8 4.3 3.5 3.5z" fill-rule="evenodd"></path></svg>
                </li>
                <li>
                    <svg aria-label="Activity Feed" class="_8-yf5 " fill="#262626" height="22" viewBox="0 0 48 48" width="22"><path clip-rule="evenodd" d="M34.3 3.5C27.2 3.5 24 8.8 24 8.8s-3.2-5.3-10.3-5.3C6.4 3.5.5 9.9.5 17.8s6.1 12.4 12.2 17.8c9.2 8.2 9.8 8.9 11.3 8.9s2.1-.7 11.3-8.9c6.2-5.5 12.2-10 12.2-17.8 0-7.9-5.9-14.3-13.2-14.3zm-1 29.8c-5.4 4.8-8.3 7.5-9.3 8.1-1-.7-4.6-3.9-9.3-8.1-5.5-4.9-11.2-9-11.2-15.6 0-6.2 4.6-11.3 10.2-11.3 4.1 0 6.3 2 7.9 4.2 3.6 5.1 1.2 5.1 4.8 0 1.6-2.2 3.8-4.2 7.9-4.2 5.6 0 10.2 5.1 10.2 11.3 0 6.7-5.7 10.8-11.2 15.6z" fill-rule="evenodd"></path></svg>
                </li>
                <li><a routerLink="/profile/user/{{user.id}}"><img class="news__navbar_avatar" [src]="user?.avatar != null ? user.avatar :'../../../assets/images/img_avatar.png'" alt=""></a></li>
    
            </ul>
        </div>
    </nav>  

   
    <div class="news__grid">
        
        <div class="filter">
            <h1>Filtration</h1>
        </div>
        <div
            class="search-results"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="10"
            (scrolled)="onScroll()"
        >
           <app-post *ngIf="posts.length != 0;else postsNotFound" [posts]="posts"></app-post>
           <ng-template #postsNotFound>
            <h1>Nothing, you should start following someone</h1>
          </ng-template>
        </div>



    </div>

</section>
