.news{
    background: #fefefe;
}




.items{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.news__grid{
    display: grid;
    grid-template-columns: 15em 1fr;
    padding: 2em;
}
.filter h1{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}