
<section class="news">

    <app-navbar></app-navbar>

   
    <div class="news__grid">
        
        <div class="filter">
            <h1>Filtration</h1>
        </div>
        <div
            class="search-results"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="10"
            (scrolled)="onScroll()"
        >
           <app-post *ngIf="posts.length != 0;else postsNotFound" [posts]="posts"></app-post>
           <ng-template #postsNotFound>
            <h1>Nothing, you should start following someone</h1>
          </ng-template>
        </div>



    </div>

</section>
