<section class="create__post_section">


  <form method="POST" enctype="multipart/form-data" novalidate>

    <div>
     

        <mat-form-field appearance="outline">
          <mat-label>Post title</mat-label>
          <input matInput placeholder="Post title" name="name" [(ngModel)]="post.name">
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div>

    <div>
        <h4>Text</h4>
        <ejs-richtexteditor id='iframeRTE' name="text" placeholder="Put your text" [(ngModel)]="post.text" [insertImageSettings]="imageSettings" [toolbarSettings]='tools' (change)="setSmallDescription()" required></ejs-richtexteditor>
     </div>

    <div>
        <h4>Main image</h4>
        <input type="file" name="image" (change)="fileUpload($event)" required>
    </div>

    <div>
      <h4>Small description</h4>
      <mat-form-field class="example-full-width">
        <mat-label>Small description</mat-label>
        <textarea matInput placeholder="Something that clearly describes your post" maxlength="250" [disabled]="!allowChangeSmallDescription" name="smallDescription" [(ngModel)]="post.smallDescription"></textarea>
      </mat-form-field>
    </div>
  
    <!--
    <select multiple name="tag" id="" [(ngModel)]="post.tags">
        <option  *ngFor="let tag of tags" value="{{tag.id}}">{{tag.name}}</option>
    </select>
-->
    <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let fruit of taggs"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(fruit)">
            {{fruit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="New tag..."
            #fruitInput
            [formControl]="fruitCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of filterTags | async" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    <button type="submit">Create</button>
</form>


<div *ngIf="user.accountLvl >= 10;else mustBe10">
  <h2>Didn't you find the tag you need? You can create your own</h2>
  <form (ngSubmit)="createTag()">
    <div>
      <h3>Tag name</h3>
      <input type="text" name="name" [(ngModel)]="tag.name">
    </div>
    <div>
      <button type="submit" (ngSubmit)="createPost()" >Submit</button>
    </div>
  </form>
</div>

<ng-template #mustBe10>
  <h1>If you want to create tags, your account must have level 10 </h1>
</ng-template>
</section>