<form action="" (ngSubmit)="createPost()">

    <div>
        <h4>Name</h4>
        <input type="text" name="name" [(ngModel)]="post.name">
    </div>

    <div>
        <h4>Text</h4>
            <ejs-richtexteditor #fromRTE [(value)]='post.text' required name="name" [(ngModel)]="post.text" [toolbarSettings]='tools'
            (created)="rteCreated()" (toolbarClick)='onToolbarClick($event)'></ejs-richtexteditor>
        </div>


    <div>
        <h4>Name</h4>
        <input type="text" name="images" [(ngModel)]="post.images">
    </div>

    <select multiple name="tag" id="" [(ngModel)]="post.tags">
        <option  *ngFor="let tag of tags" value="{{tag.id}}">{{tag.name}}</option>
    </select>

    <button type="submit">Create</button>
</form>