.section__profile{
    padding: 1em;
}

.notifications{
    position: relative;
}
.notifciation__counter{
    position: absolute;
    border-radius: 50%;
    width: 2em;
    display: flex;
    height: 2em;
    justify-content: center;
    align-items: center;
    right: -1em;
    top: -.8em;
    background: rgba(49, 183, 15, 0.51);
}
.profile__navbar{
    position: sticky;
    top: 0;
    display: block;
    z-index: 999999;
}
.hide{

        overflow: hidden;
}