.section__profile{
    display: grid;
    padding: 1em;
    grid-template-columns: 10em 1fr;
}
.profile__link_card{
    
    
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 7px;
    font-family: sans-serif;

    width: 7em;
    height: 4em;
    box-shadow: 1px 1px 4px #674343;
    margin-bottom: 1em;
    transition: 1s all;
}
.profile__link_card:hover{
    opacity: 0.5;
}
.profile__link_card > a{
    font-weight: 900;
    text-align: center;
    font-size: 16px;
    word-break: break-all;
    display: grid;
    align-content: center;
    border-radius: 6px;
    cursor: pointer;
    height: 100%;
    text-shadow: 1px 1px 1px black;
    color: #fff;
    width: 100%;
}
.card__color_profile{
    background: #83a4d4;
    background: linear-gradient(to right, #b6fbffeb, #83a4d4e0);
}
.card__color_post{
    background: #556270;
    background: -webkit-linear-gradient(to right, #FF6B6B, #556270);
    background: linear-gradient(to right, #ff6b6bbf, #556270c4);
    color: #fff;
}
.card__color_settings{
    background: #F0C27B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.card__color_myposts{
    background: -webkit-linear-gradient(to right, #24FE41, #FDFC47);
    background: linear-gradient(to right, #3f51b5, #ff40819e);
}
.card__color_notifications{
    background-image: linear-gradient(to right bottom, #a187dc, #8b6fc1, #7557a6, #5f418c, #4a2b73);
}
.card__color_news{
    background-image: linear-gradient(to right bottom, #e5dc6d, #f3d079, #f9c589, #f5be9a, #eabaa9);
}
.main__search{
    padding: 1em;
    box-shadow: 1px 1px 2px 0px #000000b0;
    text-align: center;
}

.notifications{
    position: relative;
}
.notifciation__counter{
    position: absolute;
    border-radius: 50%;
    width: 2em;
    display: flex;
    height: 2em;
    justify-content: center;
    align-items: center;
    right: -1em;
    top: -.8em;
    background: rgba(49, 183, 15, 0.51);
}