.section__profile{
    display: grid;
    padding: 1em;
    grid-template-columns: 10em 1fr;
}
.profile__link_card{
    
    
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 7px;
    font-family: sans-serif;

    width: 8em;
    height: 6em;
    box-shadow: 1px 1px 4px #674343;
    margin-bottom: 1em;
    transition: 1s all;
}
.profile__link_card:hover{
    opacity: 0.5;
}
.profile__link_card > a{
    font-weight: 900;
    text-align: center;
    font-size: 25px;
    display: grid;
    align-content: center;
    height: 100%;
    text-shadow: 1px 1px 1px black;
    color: #fff;
    width: 100%;
}
.card__color_profile{
    background: #83a4d4;
    background: linear-gradient(to right, #b6fbffeb, #83a4d4e0);
}
.card__color_post{
    background: #556270;
    background: -webkit-linear-gradient(to right, #FF6B6B, #556270);
    background: linear-gradient(to right, #ff6b6bbf, #556270c4);
    color: #fff;
}
.card__color_settings{
    background: #F0C27B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4B1248, #F0C27B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}