<section>
    <nav class="main__search">
        <ul>
            <li><input type="text"></li>
        </ul>
    </nav>
    <div class="section__profile">
        <nav>
            <ul>
                <li class="profile__link_card card__color_profile"  ><a routerLink="/profile/user/{{currentUser.id}}">Profile</a></li>
                <li class="profile__link_card card__color_post"><a routerLink="/profile/create-post/">Create post</a></li>
                <li class="profile__link_card card__color_myposts"><a routerLink="/profile/posts/{{currentUser.id}}">My posts</a></li>
                <li class="profile__link_card card__color_notifications notifications" (click)="openNotificationDialog()"><a>Notifications <span class="notifciation__counter">{{notificationCounter}}</span></a></li>
                <li class="profile__link_card card__color_settings"><a routerLink="/profile/settings/{{currentUser.id}}">Settings</a></li>

                <button *ngIf="currentUser != null" (click)="logout()">LogOut</button>
            </ul>
        </nav>
        <router-outlet style="display: none;"></router-outlet>
    </div>
</section>



