.notification__card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 1em;
    width: 100%;
    padding: 1em;
}
.notifciations__grid{

    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
}
.notifications__avatar{
    width: 96px;
    height: 96px;
    border-radius: 50%;
}
.notRead{
    border-radius: 8px;
    background: lightblue;
}