
/*Remove this code*/
mat-dialog-content{
    width: 400px;
    height: auto;
    max-height: fit-content;
    margin: 0 0;
    padding: 0 0;
    overflow: auto;
}
.image__viewer{
    max-width: 100%;
    height: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;

    position: relative;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 8px;

  }


  .user__gallery{
    width: 100%;
    display: flex;
    margin-bottom: 1em;
    justify-content: space-around;
    flex-direction: row;
}
.gallery__image_card{
    height: 75px;
    width: 75px;
    position: relative;
}
.gallery__image_card img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}
.image__backgorund_gallery{
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
  background-size: cover;
  
  border-radius: 8px;
  background-position-y: center;
}
.remove__block{
  position: absolute;
  right: -3px;
  top: -2px;
  width: 15px;
  height: 15px;
  background: rgb(151, 20, 20);
  display: block;
  border-radius: 50%;
  color: #fff;
}
.remove__block > span{
  font-size: 15px;
    display: flex;
    user-select: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
